<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>names</th>
      <th>subjects</th>
      <th>grades</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Giorgi</td>
      <td>Machine Learning</td>
      <td>87</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Gio</td>
      <td>Java</td>
      <td>52</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Kaxa</td>
      <td>Linux</td>
      <td>43</td>
    </tr>
  </tbody>
</table>